#guidat { 
	position: fixed;
	width: 250px;
	z-index: 200;
	top: 0;
	left: 100%;
	margin-left: -270px;
}

#guidat-controllers { 
	height: 300px;
	overflow-y: auto;
}

#guidat-toggle { 
	cursor: pointer;
}

.guidat-controller { 
	clear: both;
}

.guidat-controller input { 
	float: right;
	clear: both;
}
