@import 'shared';

input
    height: 100%;
    display: inline-block;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    transition: background-color 0.15s linear;
    box-sizing: border-box;
    &:hover, &:focus
        background: lighter