@import '../shared/shared'

#name 
    padding padding
    padding-top padding * 2
    border-bottom 1px solid light
    font-weight bold
    -webkit-font-smoothing antialiased
    cursor pointer
    user-select none

.open-false
    #controllers
        display none