@import 'shared';

#row { 
    -webkit-text-select: none;
    background: #1a1a1a;
}

#name {

    font();

    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    width: 33%;
    padding: 0 10px;
    box-sizing: border-box;
}


