@import 'nib';

use-debug = false

debug( color )
    if use-debug
        border: 1px solid color

panel-width = 245px
min-row-height = 30px

font-color = #eee
panel-color = #1a1a1a
number-color = #25a0d8

padding = 8px

ease = cubic-bezier( .25, .25, 0, 1 )

light = rgba( 255, 255, 255, 0.25 )
dark = rgba( 0, 0, 0, 0.1 );

panel-font()
    font: 10px 'Lucida Grande', sans-serif;
    color: font-color;
    -webkit-font-smoothing: antialiased;