@import 'nib';

number-color = #25a0d8

ease = cubic-bezier( .25, .25, 0, 1 )

light = rgba( 255, 255, 255, 0.25 )
dark = rgba( 0, 0, 0, 0.1 );

font()
    font: 500 11px 'Roboto', sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;