@import '../shared';

:host {
    
    position: absolute;
    top: 0;
    right: 20px;
    width: 270px;

}

#closeButton { 
    
    font();
    font-size: 14px;
    cursor: pointer;
    background: #000;
    text-align: center;
    padding: padding*0.4 padding;
}