@import '../shared';

#closeButton { 
    
    panel-font()
    
    color: text-color;
    // font-size: 14px;
    cursor: pointer;
    text-align: center;
    padding: padding * 0.75 padding;
    background: black;

}

#container { 

    background: panel-color;

    &.autoplace-true { 
        width: panel-width;
        position: fixed;
        top: 0;
    }

    &.docked-false {
        right: 20px;
    }

    &.docked-true {
        right: 0;
        bottom: 0;
        overflow: auto;
    }

    transition: transform 0.4s cubic-bezier( 0, 0.8, 0, 1 );

}
